.admin-dashboard{
    background: linear-gradient(180deg, #DE1ED6 0%, #FFFFFF 100%);
    width: 100%;
    height: 90%;
}
.admin-h2{
   padding: 3rem;
   color: #FFFFFF;
   font-size: 50px;
}
.adminpanel-btns{
    background-color: #FFFFFF !important;
    width: 21.875rem !important;
    height:9.375rem;
    font-size: 30px !important;
    border-radius: 10px;
}

.btn-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:5rem
}